    <div class="footer">
        <button class="button" id="menu"><img src="https://storage.cloud.google.com/imageswebprogramming/publicImages/menu.png"></button>
        <button class="button" id="orders_history"><img src="https://storage.cloud.google.com/imageswebprogramming/publicImages/history.png"></button>
    </div>
 
<script>
        document.getElementById("menu").addEventListener("click", function() {
            window.location.href = "/menu";
            
        });
        document.getElementById("orders_history").addEventListener("click", function() {
            window.location.href = "/orders_history";
        });
</script>
