     

    <div class = 'header'>
        <img id="logo" width="20%" src="https://storage.cloud.google.com/imageswebprogramming/publicImages/logo.png" alt="App Logo">
        <i class="fa-solid fa-house"></i>
        <span class = "title">{{ pageTitle }}</span>
        <button class="button" style="background-color: white; border:0cm;"><img src="https://storage.cloud.google.com/imageswebprogramming/publicImages/buttons.png"></button>
    </div>
