    <div class = 'header'>
        <img id="logo" width="20%" src="/images/logo.png" alt="App Logo">
        <span class = "title">{{ pageTitle }}</span>
        <a class="button" href="/basket">
        <i class="fa-solid fa-shop" style="color: rgba(27,93,107,1);;" ></i>
        </a>
    </div>

<script>
    document.getElementById("logo").addEventListener("click", function(){
        window.location.href = '/worker/menu';
    })
</script>