     

    <div class = 'header'>
        <img id="logo" width="20%" src="/images/logo.png" alt="App Logo">
        <i class="fa-solid fa-house"></i>
        <span class = "title">{{ pageTitle }}</span>
        <button class="button" style="background-color: white; border:0cm;"><img src="/images/buttons.png"></button>
    </div>
