    <div class = 'header'>
        <img id="logo" src="http://localhost:3000/images/logo.png" alt="App Logo">
        <span class = "title">{{ pageTitle }}</span>
        <button class="button"><img src="http://localhost:3000/images/buttons.png"></button>
    </div>
