# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore npm-debug.log files
npm-debug.log

.json
dynamic-circle-422510-u6-c57f9a4be173.json

Dockerfile

.dockerignore

fly.toml
