<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rise and grind</title>   
    <link rel="stylesheet" href="/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/login_style.css">
    <link href="https://fonts.googleapis.com/css?family=Source Code Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Newsreader" rel="stylesheet">
</head>

<body>
    {{{body}}}
</body>

</html>