<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Page</title>
    <link rel="stylesheet" href=".../public/menu_style.css">
    <link rel="stylesheet" href=".../public/posts_style.css">
    <link rel="stylesheet" href=".../public/tables_style.css">
    <link rel="stylesheet" href=".../public/orders_history_style.css">
    <link href="https://fonts.googleapis.com/css?family=Source Code Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Newsreader" rel="stylesheet">
</head>

<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>

</html>