
    <div>
        <div>
            <img class="logo" src="/images/logo.png">
        </div>
        <div class="login-container">
            <form id="login-form">
                <div class="input-group">
                    <input type="text" id="username" name="username" required placeholder="username">
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" required placeholder="password">
                </div>
                <button type="submit" class = "submit">Sign In</button>
            </form>
            <button class = "register" onclick = "openRegister()">Sign Up</button>
        </div>
    </div>

    <script>
        function openRegister(){
            window.location.href = '/worker/register';
        }

        document.addEventListener('DOMContentLoaded', function () {

            const form = document.querySelector('#login-form');

            form.addEventListener('submit', async function (event) {
                event.preventDefault();

                let username = document.querySelector('#username').value;
                let password = document.querySelector('#password').value;

                try {
                    const response = await fetch('/worker', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, password })
                    }); 
                    if (response.status == 200) {
                        console.log(response.body);
                    } else {
                        alert(await response.text());
                    }
                } catch (err) {
                    console.error('Error:', err);
                }
            }); 
        });

    </script>