    <div class="separator">
        <hr>
    </div> 
    <div class = "sectors">
        <button class = "sector" id = "chosen">Sector 1</button>
        <button class = "sector">Sector 2</button>
        <button class = "sector">Garden</button>
    </div>
    <div class = "chosen_sector">
        Sector 1
    </div>
    <div class="orders">
        {{#each orders}}
        <div class = "order">
            <div class = "total">
                Total:<br><p class = "price">{{price}}</p>
            </div>
            <div class = "right-bar">
                <div class = "table-and-date">
                    <div class = "receipt"><img src="./images/receipt.png"></div>
                    <div>{{table}}<br>{{date}}</div>
                </div>
                {{#if status}}
                <div class = "payment-status">
                    {{status}}
                </div>
                {{/if}}
            </div>
        </div>  
        <div class="inbetween-separator">
            <hr>
        </div>
        {{/each}}
    </div>

    <div class="settings">
        <button class="button"><img src="https://storage.cloud.google.com/imageswebprogramming/publicImages/settings.png"></button>
    </div>
    <div class="end-separator">
        <hr>
    </div> 
