    <div class="separator">
        <hr>
    </div> 
    <div class="orders">
        {{#each orders}}
        <div class = "order">
            <div class = "total">
                Total:<br><p class = "price">{{totalOrderCost}}€</p>
            </div>
            <div class = "right-bar">
                <div class = "table-and-date">
                    <div class = "receipt"><img src="./images/receipt.png"></div>
                    <div>{{status}}<br>{{timeExecuted}}</div>
                </div>
            </div>
        </div>  
        <div class="inbetween-separator">
            <hr>
        </div>
        {{/each}}
    </div>
    <div class="end-separator">
        <hr>
    </div> 
