    <div class="separator">
        <hr>
    </div>
    <div class = "sectors">
        <button class = "sector" id = "chosen">Sector 1</button>
        <button class = "sector">Sector 2</button>
        <button class = "sector">Garden</button>
    </div>
    <div class = "chosen_sector">
        Sector 1
    </div>
    <div class="tables">
        {{#each tables}}
        <div class="table">
            <div class = "left-bar">
                {{ table }}
            </div>
            <div class = "right-bar">
                {{ status }}<br>{{#if extraInfo }}{{ extraInfo }}{{/if}}
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        {{/each}}
    </div>

    <div class="settings">
        <button class="button" onclick="settings()"><img src="http://localhost:3000/images/settings.png"></button>
    </div>
    <div class="end-separator">
        <hr>
    </div> 
