<div class="separator">
        <hr>
    </div>
    <div class = "sectors">
        <button class = "sector" id = "chosen">Sector 1</button>
        <button class = "sector">Sector 2</button>
        <button class = "sector">Garden</button>
    </div>
    <div class = "chosen_sector">
        Sector 1
    </div>
    <div class="orders">
        <div class="order">
            <div class = "total">
                Table 1
            </div>
            <div class = "right-bar">
                free<br>
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        <div class="order">
            <div class = "total">
                Table 2<br>
            </div>
            <div class = "right-bar">
                    not served<br>order time: 21:43
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        <div class="order">
            <div class = "total">
                Table 3
            </div>
            <div class = "right-bar">
                    served<br>not paid
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        <div class="order">
            <div class = "total">
                Table 4<br>
            </div>
            <div class = "right-bar">
                    served<br>paid
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div>
        <div class="order">
            <div class = "total">
                Table 5
            </div>
            <div class = "right-bar">
                    not ordered<br>arrival time: 22:03
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div>
    </div>

    <div class="settings">
        <button class="button" onclick="settings()"><img src="http://localhost:3000/images/settings.png"></button>
    </div>
    <div class="end-separator">
        <hr>
    </div> 

<script>
    document.querySelector
</script>