<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables Page</title>
    <link rel="stylesheet" href="tables_style.css">
    <link href="https://fonts.googleapis.com/css?family=Source Code Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Newsreader" rel="stylesheet">
    <script src="tablesscript.js"></script>
</head>

<body>

    <div class="header">
        <img id="logo" src="icons\logo.png" alt="App Logo">
        Tables
        <button class = "button" onclick="buttons()"><img src="icons\buttons.png"></button>
    </div>
    <div class="separator">
        <hr>
    </div> 
    <div class = "sectors">
        <button class = "sector" id = "chosen">Sector 1</button>
        <button class = "sector">Sector 2</button>
        <button class = "sector">Garden</button>
    </div>
    <div class = "chosen_sector">
        Sector 1
    </div>
    <div class="orders">
        <div class="order">
            <div class = "total">
                Table 1
            </div>
            <div class = "right-bar">
                free<br>
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        <div class="order">
            <div class = "total">
                Table 2<br>
            </div>
            <div class = "right-bar">
                    not served<br>order time: 21:43
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        <div class="order">
            <div class = "total">
                Table 3
            </div>
            <div class = "right-bar">
                    served<br>not paid
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        <div class="order">
            <div class = "total">
                Table 4<br>
            </div>
            <div class = "right-bar">
                    served<br>paid
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div>
        <div class="order">
            <div class = "total">
                Table 5
            </div>
            <div class = "right-bar">
                    not ordered<br>arrival time: 22:03
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div>
    </div>

    <div class="settings">
        <button class="button" onclick="settings()"><img src="icons\settings.png"></button>
    </div>
    <div class="end-separator">
        <hr>
    </div> 

    <div class="footer">
        <button class="button" onclick="menu()"><img src="icons\menu.png"></button>
        <button class="button" onclick="tables()"><img src="icons\tables.png"></button>
        <button class="button" onclick="history()"><img src="icons\history.png"></button>
    </div>

</body>

</html>