body {
    font-family: 'Source Code Pro';
    margin: 0;
    padding: 0;
}

.header {
    background-color: #FFFFFF;
    color: rgba(27,93,107,1);
    padding-top: 10px;
    font-family: 'Newsreader';
    font-size: 22px;
}

#logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.separator hr, .end-separator hr{
    background-color: rgba(27,93,107,0.6);
    width:95%;
    height:1.5px;
    border: 0;
    margin-top: 0 auto;
    padding:0.1px;
}

.choices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.choice:first-child{
    padding-top: 0px;
}

.choice {
    width: 30%;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inbetween-separator hr{
    background-color: rgba(230,230,230,0.8);
}

.end-separator hr{
    bottom: 50px;
    position: fixed;
    left:2.5%
}

.footer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
    text-align: center;
}

.button{
    border: none;
    font-family: 'Source Code Pro';
    margin: 0;
    padding: 0px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FFFFFF;
}

.header .button{
    position:fixed;
    right:5px;
    top:30px;
}

.settings .button{
    background-color: rgba(27,93,107,1);
    position: fixed;
    bottom:70px;
    right:10px;
}